@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans&display=swap');

body {
	background-color: rgb(142, 202, 230);
}

h1, h2 {
	text-align: center;
	font-family: "Noto Serif", serif;
	font-weight: normal;
	background-color: rgb(2, 48, 71);
	color: rgb(255, 183, 3);
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 32px;
}

hr {
	color: white;
}

p {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	text-align: justify;
}

ul {
	background-color: rgb(251, 133, 0);
	font-size: 32px;
    line-height: 40px;
    color: rgb(142, 202, 230);
	list-style-type: none;
}

li:hover {
	background-color: rgb(2, 48, 71);
}

.myWhite {
	color: yellow;
}